@import "normalize"
@import "content"

* {
  // outline: 1px solid red;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-variant: tabular-nums;
  font-size: 16px;
  line-height: 1;
  color: #1a1a1a;
}

a {
  color: #1a1a1a;
  text-decoration: none;
}
